
.squareA{
    height:60px;
    width: 60px;
    background-color:red;
    position: absolute;
    top:50%;
    right: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
    display: inline;   animation:left 3s forwards;
    transform: translateX(-140vw)
} 
.squareB{
    height:60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:salmon;
    border-radius: px;
    display: inline;
    border-bottom-right-radius:30px;
    border-top-right-radius: 30px;
    transform: translateX(140vw);
    animation: right 3s forwards;
}
@keyframes right{
    to {
        transform: translateZ(2.0rem);
    }
}
@keyframes left{
    to{
        transform:translateZ(2.0rem);
    }
}

.squareC {
    height:56px;
    width: 56px;
    position:absolute;
    top:57%;
    right:50%;
    background-color: rgb(241, 95, 241);
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    animation: right 3s forwards;
    transform: translateY(100vw);
}
@keyframes right{
    to{
        transform: translateX(-0.0rem);
    }
}
.squareD{
    height: 56px;
    width: 56px;
    position: absolute;
    top:57%;
    left:50%;
    background-color: rgb(41, 142, 236);
    border-radius: 28px;
    animation:  left 3s forwards;
    transform:translateY(100vw);
    animation-delay: 2s;
} 
@keyframes left {
    to{
        transform:translateX(0.0rem);
    }
}
.squareE {
    height:56px;
    width: 56px;
    position: absolute;
    top:64%;
    right:50%;
    background-color: chartreuse;
    border-bottom-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;  
    animation: right 3s forwards;
    transform: translate(100vw);

}
@keyframes right{
    to{
        transform: translateX(0.0rem);
    }
}